<ion-header >
  <ion-navbar>
    <ion-title>{{name}}-{{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager (ionSlideDidChange)="slideChanged()">
      <ion-slide >
        <ion-content padding>
          <div  class="ion-slide-content">
            <ion-list>
              <div *ngFor="let s of params['mainInfo']">
                <ion-row  *ngIf="s.type=='header'">
                  <ion-col  text-center>
                    {{s.name}}
                  </ion-col>
                </ion-row>
                <ion-item *ngIf="s.type!='header'">
                  <ion-label floating>{{s.name}}</ion-label>
                  <ion-input type="text" [(ngModel)]="s.comment"></ion-input>
                </ion-item>
              </div>
            </ion-list>
          </div>
      </ion-content>
    </ion-slide>
    <ion-slide >
        <div  class="ion-slide-content">
          <div *ngFor="let s of params['step1']">
            <!--a ion-item (click)="openModal(s)" *ngFor="let s of params['step1']">  {{s.name}}  &nbsp; {{s.size}}ml</a-->
            <ion-row  (click)="showComment(s)" class=" bottom-hr box">
              <ion-col text-left>
              {{s.name}}  &nbsp; {{s.size}}ml
              </ion-col>

            </ion-row>
            <ion-row *ngIf="visible==s.id" text-left>
              <ion-col col-12 >
                <ion-row>
                  <ion-col col-10>availability</ion-col>
                    <ion-col>  <ion-checkbox [(ngModel)]="s.avaliable"  color="secondary"></ion-checkbox></ion-col>
                </ion-row>
                <div *ngIf="s.avaliable" class="bottom-hr">
                  <ion-row>
                    <ion-col col-8> Price</ion-col>
                    <ion-col>
                        yes
                     </ion-col>
                     <ion-col>
                        no
                      </ion-col>
                   </ion-row>
                    <ion-row>
                      <ion-col col-8>{{s.price}}  </ion-col>
                      <ion-col>
                           <ion-checkbox [(ngModel)]="s.equal" (ngModelChange)="equalPrice(s)"  color="secondary" ></ion-checkbox>
                       </ion-col>
                       <ion-col>
                            <ion-checkbox [(ngModel)]="s.notequal" (ngModelChange)="notEqual(s)"  color="secondary"></ion-checkbox>
                        </ion-col>
                     </ion-row>
                </div>
              </ion-col>
          </ion-row>
        </div>
        </div>
    </ion-slide>
    <ion-slide >
      <div  class="ion-slide-content">

        <ion-row class="bottom-hr">
          <ion-col col-4>
            <strong>Zone Index</strong>
          </ion-col>
          <ion-col col-4>
            <strong >Zone</strong>
          </ion-col>
          <ion-col>
              <strong>Av</strong>
          </ion-col>
          <ion-col>
              <strong>N/A</strong>
          </ion-col>
        </ion-row>
        <div *ngFor="let s of params['step2']" class=" bottom-hr box">
          <ion-row  (click)="showComment(s)">
            <ion-col col-2>
              {{s.index}}
            </ion-col>
            <ion-col col-6>
              {{s.zone}}
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="{{visible!=s.id || s.na==true}}"  [(ngModel)]="s.avaliable"  color="secondary"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox   [(ngModel)]="s.na" (ngModelChange)="ChangeNa(s)"  color="secondary"></ion-checkbox>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="visible==s.id" text-left>
            <ion-col >
              <ion-card>
                <ion-card-content>
                    {{s.tool}}
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div  class="ion-slide-content">

        <ion-row class="bottom-hr">
          <ion-col col-5>
            <strong>Shelf Description</strong>
          </ion-col>
          <ion-col col-3>
            <strong>Brand</strong>
          </ion-col>
          <ion-col>
              <strong>AV</strong>
          </ion-col>
          <ion-col>
              <strong>N/A</strong>
          </ion-col>
        </ion-row>
        <div *ngFor="let s of params['step3']" class=" bottom-hr box">
          <ion-row  (click)="showComment(s)" *ngIf="s.type=='single'">
            <ion-col  text-left col-5>
              {{s.index}}
            </ion-col>
            <ion-col col-3>
              {{s.zone}}
            </ion-col>
            <ion-col text-right>
                <ion-checkbox disabled="{{visible!=s.id || s.na==true}}"  [(ngModel)]="s.avaliable"  color="secondary"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox   [(ngModel)]="s.na" (ngModelChange)="ChangeNa(s)"  color="secondary"></ion-checkbox>
            </ion-col>
          </ion-row>
          <ion-row  *ngIf="s.type=='header'">
            <ion-col  text-center>
              {{s.name}}
            </ion-col>
          </ion-row>
          <ion-row  (click)="showComment(s)"  *ngIf="s.type=='block'">
            <ion-col  col-8 text-left>
              {{s.zone}}
            </ion-col>
            <ion-col text-right>
                <ion-checkbox disabled="{{visible!=s.id || s.na==true}}"  [(ngModel)]="s.avaliable"  color="secondary"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox   [(ngModel)]="s.na" (ngModelChange)="ChangeNa(s)"  color="secondary"></ion-checkbox>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="visible==s.id" text-left>
            <ion-col >
              <ion-card>
                <ion-card-content>
                    {{s.tool}}
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </div>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-row class="bottom-hr">
        <ion-col col-8>
          <strong>Quality</strong>
        </ion-col>
        <ion-col>
            <strong>AV</strong>
        </ion-col>
        <ion-col>
            <strong>N/A</strong>
        </ion-col>
      </ion-row>
        <div *ngFor="let s of params['step4']" class=" bottom-hr box">
            <ion-row >
                <ion-col col-8>
                    {{s.quality}}
                </ion-col>
                <ion-col text-right>
                    <ion-checkbox disabled="{{s.na==true}}"  [(ngModel)]="s.avaliable"  color="secondary"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox   [(ngModel)]="s.na" (ngModelChange)="ChangeNa(s)"  color="secondary"></ion-checkbox>
                </ion-col>
            </ion-row>
        </div>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
    <ion-grid >
        <ion-row no-padding no-margin>
            <ion-col col-5 no-padding>
                <button ion-button full (click)="back()" *ngIf="showBack">უკან</button>
            </ion-col>
            <ion-col col-2 no-padding>

            </ion-col>

            <ion-col col-5 no-padding>
                <button ion-button full color="secondary" (click)="next()" *ngIf="showFooter">{{nextBtn}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
