page-score {
  .score{
    margin-top:35%;
    height: 150px;
    background: green !important;
    font-weight: bold;
    font-size:25px;
    text-align: center;
    color: white;
    line-height: 150px;
  }
}
